@keyframes modalPop {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes modalPopOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}

.alert_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'pretendard';
  font-weight: 400;
  font-size: 15px;
}
 
.alert_modal_wrap {
  background: white;
  box-shadow: inset;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
}

.alert_modal_wrap.opening {
  animation: modalPop 0.3s ease-out forwards;
}

.alert_modal_wrap.closing {
  animation: modalPopOut 0.1s ease-in forwards;
}

.alert_modal_wrap .alert_modal_content{
  margin: 30px;
  white-space: pre-wrap;
  line-height: 20px;
}

.alert_modal_wrap .alert_modal_btnarea{
  border-top: 1px solid #d9d9d9;
  height: 55px;

}

.alert_modal_wrap .alert_modal_close{
  background-color: white;
  width: 200px;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
}