.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'pretendard';
  font-weight: 400;
}
 
.modal_wrap {
  background: white;
  box-shadow: inset;
  padding: 30px 30px 40px;
  border: 1px solid black;
}

.modal_titlearea{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.modal_titlearea .modal_title{
  font-size: 18px;
}

.modal_titlearea .modal_close{
  cursor: pointer;
}

.modal_titlearea .modal_close img{
  width: 22px;
  height: 22px;
}
